p2{
  font-weight: bold;
  font-size: 50px;
  color:aliceblue; 
  font:left;
}

p1{
  font-weight: bold;
  font-size: 20px;
  color: black; 
}

p3{
  font-weight: bold;
  font-size: 20px;
  color:white; 
}

p4{
  font-weight: bold;
  font-size: 20px;
  color:black; 
  margin-bottom: 100px;
}

header {
  color:black;
}

header nav ul li{
  color:red;
  display: inline-block;
  height:20px;
  width:100px;
  font-size:large;
  padding-right: 30px;
}