header {
  color:black;
}

header nav ul li{
  display: inline-block;
  height:20px;
  width:100px;
  font-size:large;
  padding-right: 30px;
}

p4 {
  color:black;
  rext-align:right;
  font-size: 120%;
   margin: 100px;
   

}